@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>
<hr />


<div class="container-fluid">

    <section class="about">
        <h2>About Us</h2>
        <p>Welcome to Winning School, where education meets excellence. Our mission is to empower young minds, foster creativity, and prepare students for a successful future.</p>
        <p>Why choose Winning School?</p>
        <ul>
            <li>Experienced and passionate educators</li>
            <li>State-of-the-art facilities</li>
            <li>Individualized learning programs</li>
            <li>Strong community engagement</li>
        </ul>
    </section>

    </div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/css/site.css" rel="stylesheet" />

