@model WINNINGSCHOOL.Models.StudentViewModel;

    
@{
    ViewData["Title"] = "Create Student";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong> Error!</strong> @errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<form asp-action="Create" method="post" autocomplete="">
    <div class="mb-3">
        <label class="form-label"> First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class=" mb-3">
        <label class="form-label"> Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class=" mb-3">
        <label class="form-label"> Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class=" mb-3">
       <label class="form-label"> State of Origin</label>
       <input type="text" class="form-control" asp-for="StateOfOrigin" />
       <span asp-validation-for="StateOfOrigin" class="text-danger"></span>
    </div>

    <div class=" mb-3">
       <label class="form-label"> Address</label>
       <input type="text" class="form-control" asp-for="Address" />
       <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class=" mb-3">
       <label class="form-label"> Parent/Guardian Name</label>
       <input type="text" class="form-control" asp-for="ParentFullName" />
       <span asp-validation-for="ParentFullName" class="text-danger"></span>
    </div>

    <div class=" mb-3">
        <label class="form-label"> Phone Number</label>
        <div class="input-group">
            <span class="input-group-text">+234</span>
            <input type="text" class="form-control" asp-for="ParentPhoneNumber" />
            <span asp-validation-for="ParentPhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label"> Parent Address</label>
        <input type="text" class="form-control" asp-for="ParentAddress" />
        <span asp-validation-for="ParentAddress" class="text-danger"></span>
    </div>

    <div class=" mb-3">
        <label class="form-label"> E-Mail</label>
        <input type="email" class="form-control" asp-for="GuidanceEmail" />
        <span asp-validation-for="GuidanceEmail" class="text-danger"></span>
    </div>

    <div class=" mb-3">
        <label class="form-label"> Enrollment Date</label>
        <input type="date" class="form-control" asp-for="EnrollmentDate" />
        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}